

// app
body{
    background: #EFEFEF;
}

.navbar-brand {
    color: white !important;
}

#site-header{
    .navbar{
        border-radius: 0;
        margin: 0;
        border: none;
    }
}


#site-footer{
    padding-bottom: 20px;
    padding-top: 20px;
    background: #333;
    color: #999;
    text-align: center;
}

section{
    padding-top: 50px;
    padding-bottom: 50px;
    .section-header{
        text-align: center;

        h2{
            padding-bottom: 20px;
            padding-top: 20px;
            margin-bottom: 50px;
            text-transform: uppercase;
            color: #AAA;
            position: relative;
            letter-spacing: 3px;
            font-style: italic;
            
            &:before,
            &:after{
                content: '';
                display: block;
                position: absolute;
                height: 1px;
                width: 20%;
                left: 40%;
                background: #AAA;
            }

            &:before{
                top: 0;
            }

             &:after{
                 bottom: 0;
             }
        }
    }
}

.hero{
    background: 
    linear-gradient(rgba(#0879EE, 0.9), rgba(#0879EE, 0.6));
    background-size: cover;
    height: 600px;
    max-height: 40vh; 
    text-align: center;

    .hero-content{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        color: #FFF;

        h1, h2{
            margin-top: 0;
        }

        h1{
            font-size: 40px 
        }
        
        h1, h2{
            font-size: 40px;
        }
        
        p{
            font-size: 30px
        }
    }

}

$header-font: 'Oswald', Arial, Helvetica, sans-serif;

h1,h2,h3,h4,h5,h6{
    font-family: $header-font;
    text-transform: uppercase;
    font-style: italic;
}

.card{
    background: #FFF;
    border-radius: 3px;
    box-shadow: 0 1px 3 px rgba(#000, 0.3);

    .img-container{
        display: block;
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        min-height: 150px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
}

.post-card{
    position: relative;
    margin-bottom: 20px;
    min-height: 200px;

    h2{
        font-size: 24px;
        margin: 0 0 10px;

        a{
            color: blue;
            transition: 0.3s ease all;

            &:hover{
                color:red;
                text-decoration: none;
            }
        }
    }

    .card-content{
        padding: 20px;

        .byline{
            font-size: 12px;
            color: #BBB;
            margin-bottom: 10pxs
        }

        
    }

    .price{
        position: absolute;
        top: 0;
        right: 0;
        border-top-right-radius: 3px;
        border-bottom-left-radius: 3px;
        font-size: 14px;
        padding: 3px 8px; 
        color: #FFF;
    }

    .price-premium{
        background: #F42E45;
    } 

    .price-free{
        background: #02BD70;
    }
}

.post-single{
    margin-bottom: 50px;
    margin-top: 50px;

    .img-container{
        height: 400px;
    }

    .card-content{
        padding: 50px 100px;
    }

    h1{
        font-size: 50px;
        margin: 0 0 20px
    }

    .byline{
        font-size: 14px;
        color: #BBB;
        margin-bottom: 20px;
    }
}